* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/5.jpg);
    height: 100vh;
}

.screenshot_wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: crosshair;
    position: fixed;

    width: 100vh;
    height: 100vh;

    left: 0px;
    top: 0px;
    z-index: 2147483630;
    box-sizing: content-box !important;
    font: 12px / 1 Helvetica, arial, sans-serif;
}

.show {
    display: block;
}

.screenshot_top {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.screenshot_right {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
}

.screenshot_bottom {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    right: 0;
}

.screenshot_left {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
}

.screenshot_center {
    position: absolute;
    cursor: move;
    outline: 1.5px dashed #d5d5d5;
}

.screenshot_size {
    position: absolute;
    bottom: calc(100% + 5px);
    left: 0;
    background-color: rgb(46, 52, 59);
    border-radius: 99999px;
    color: aliceblue;
    text-align: center;
    padding: 5px 10px;
    display: none;
}

.dragresize {
    display: block !important;
    position: absolute !important;
    z-index: 999 !important;
    width: 9px !important;
    height: 9px !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNqMUDEOgCAMrA58CFZX3uDIU/iBX3D0DawkTCS8xhBYao84aOLgJZdy10sLTMxMgDHGSVmFizAKj5zzPpoIaa037z2nlLjWOio0/DFEDg5Ga42fgL6DbsYKay0ppegJaPjjCpI8seIL8NHHpFhKoS/cfkToCCFQ7/0VgIaP/q/XTX/+6RJgAEc6j4dkIiynAAAAAElFTkSuQmCC);
    background-position: center center !important;
    background-repeat: no-repeat !important;
    font-size: 0.1px !important;
}

.dragresize-tl {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}
.dragresize-tr {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}
.dragresize-br {
    right: -5px;
    bottom: -5px;
    cursor: se-resize;
}
.dragresize-bl {
    left: -5px;
    bottom: -5px;
    cursor: sw-resize;
}


.dragresize-tm {
    cursor: n-resize;
    top: -5px;
    width: 94% !important;
    left: 3%;
}
.dragresize-mr {
    cursor: e-resize;
    right: -5px;
    height: 94% !important;
    top: 3%;
}
.dragresize-bm {
    bottom: -5px;
    cursor: s-resize;
    width: 94% !important;
}
.dragresize-ml {
    cursor: w-resize;
    left: -5px;
    height: 94% !important;
    top: 3%;
}

.screenshot_controll {
    background-color: #32343e;
    padding: 2px 5px;
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    left: calc(100% + 10px);
    bottom: 0;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 90%);
}

.screenshot_controll_coppy{
    display: inline-block;
    width: 52px;
    height: 22px;
    margin: 3px 0px;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    background-color: #505362;
    transition: all .2s;
    cursor: pointer;
}

.screenshot_controll_coppy:hover {
    background-color: #3c3f4b;
}
