.toolbar_wraper {
    font: normal normal normal 12px/1 Helvetica, arial, sans-serif;
    font-weight: 900;
    height: 50px;
    position: fixed;
    top: 300px;
    left: 300px;

    color: white;
}
.toolbar_wraper:hover .toolbar_left i {
    opacity: 1;
}

.toolbar_container_show {
    width: 134px !important;
}

.toolbar_container_test{
    position: absolute;    
    z-index: 2;
    left: 84px;
}

.toolbar_wraper .toolbar_container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: 18px;
    height: 50px;
    background-color: #484e59;
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s;
}

.toolbar_wraper .split {
    width: 1px;
    height: 20px;
    background: #ffffff33;
}

.toolbar_wraper .toolbar_left {
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    border-radius: 10px;
    background-color: #484e59;
    height: 50px;
    width: 100px;
    justify-content: flex-start;
    gap: 3px;
}

.toolbar_wraper .toolbar_mid {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toolbar_wraper .toolbar_left i {
    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
    cursor: move;
    margin: 0 5px;
    line-height: 50px;
    opacity: 0;
    transition: all .3s;
}
.toolbar_wraper .toolbar_mid i {
    font-size: 20px;
}
.toolbar_wraper .toolbar_right i {
    color: rgba(255, 255, 255, 0.5);
    line-height: 52px;
    transition: all .5s;  
    position: relative;  
}
.toolbar_wraper .toolbar_container .toolbar_mid_camera:before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: black;
    bottom: calc(100% + 3px);
    position: absolute;
    transform: scale(0) rotate(45deg);
    transform-origin: bottom;
    transition: all .2s;
}
.toolbar_wraper .toolbar_container .toolbar_mid_camera:after {
    content: 'Lead time';
    bottom: calc(100% + 5px);
    width: 80px;
    height: 30px;
    position: absolute;
    background-color: black;
    border-radius: 5px;
    overflow: visible;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
    transform: scale(0);
    transform-origin: bottom;
    transition: all .2s;
}

.fa-solid {
    display: unset;
}

.toolbar_wraper .toolbar_right .toolbar_right_collapse {
    width: 21px;
    display: flex;
    justify-content: center;
    transition: all .5s;
    transform: rotate(180deg);
    cursor: pointer;
    height: 50px;
}
.toolbar_right_collapse_toggle {
    transform: rotate(0deg) !important;
}

.toolbar_wraper .toolbar_left .time_time {
    display: flex;
    font-size: 16px;
    font-weight: 600;
}

.toolbar_mid .toolbar_mid_calendar,
.toolbar_mid .toolbar_mid_camera {
    width: 30px;
    height: 30px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.toolbar_mid .toolbar_mid_calendar:hover,
.toolbar_mid .toolbar_mid_camera:hover {
    background-color: #00000033;
}

.toolbar_mid .toolbar_mid_camera:hover::after{
    transform: scale(1);
}

.toolbar_wraper .toolbar_left .time_time {
    height: 50px;
    display: flex;
    align-items: center;
}