* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/5.jpg);
    height: 100vh;
}

div {
    position: fixed;
    top: 200px;
    left: 220px;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.404);
}

.screenshot_wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: crosshair;
    position: fixed;

    width: 100vh;
    height: 100vh;

    left: 0px;
    top: 0px;
    z-index: 2147483630;
    box-sizing: content-box !important;
    font: 12px / 1 Helvetica, arial, sans-serif;
}

.show {
    display: block;
}

.screenshot_top {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.screenshot_right {
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: rgb(202, 183, 75); */
    position: absolute;
    top: 0;
    right: 0;
}

.screenshot_bottom {
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: rgb(75, 202, 98); */
    position: absolute;
    bottom: 0;
    right: 0;
}

.screenshot_left {
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: rgb(111, 75, 202); */
    position: absolute;
    bottom: 0;
    left: 0;
}

.screenshot_center {
    /* background-color: black; */
    /* background-image: url(../img/5.jpg); */
    position: absolute;
    cursor: move;
    outline: 1.5px dashed #d5d5d5;
    
}
