* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/5.jpg);
    height: 100vh;
}

.screenshot_wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: crosshair;
    position: fixed;

    width: 100vh;
    height: 100vh;

    left: 0px;
    top: 0px;
    z-index: 2147483630;
    box-sizing: content-box !important;
    font: 12px / 1 Helvetica, arial, sans-serif;
}

.show {
    display: block;
}

.screenshot_top {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.screenshot_right {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
}

.screenshot_bottom {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    right: 0;
}

.screenshot_left {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
}

.screenshot_center {
    position: absolute;
    cursor: move;
    outline: 1.5px dashed #d5d5d5;
    
}

.screenshot_size {
    position: absolute;
    bottom: calc(100% + 5px);
    left: 0;
    background-color: rgb(46, 52, 59);
    border-radius: 99999px;
    color: aliceblue;
    text-align: center;
    padding: 5px 5px;
}
