* {
    margin: 0;
    padding: 0;
}

.screenshot_wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: crosshair;

    display: none;
    position: fixed;

    width: 100vh;
    height: 100vh;

    left: 0px;
    top: 0px;
    z-index: 2147483630;
    box-sizing: content-box !important;
    font: 12px / 1 Helvetica, arial, sans-serif;
}

.show {
    display: block;
}

.screenshot_top {
    background-color: black;
}
